shamefully-hoist=true # 允许提升，将包中依赖全部提取到根目录，对嵌套包进行扁平化处理 
ignore-workspace-root-check=true # 忽略工作区根检查
link-workspace-packages=true # 链接工作区包
auto-install-peers=true # 自动安装依赖
strict-peer-dependencies=false # 严格依赖
node-linker=hoisted # 使用 hoisted 链接器，将依赖安装到根目录